@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Barlow-ExtraBold";
        src: url("../../public/font/Barlow-ExtraBold.ttf");
    }

    @font-face {
        font-family: "Barlow-Bold";
        src: url("../../public/font/Barlow-Bold.ttf");
    }

    @font-face {
        font-family: "Barlow-SemiBold";
        src: url("../../public/font/Barlow-SemiBold.ttf");
    }

    @font-face {
        font-family: "Barlow-Medium";
        src: url("../../public/font/Barlow-Medium.ttf");
    }

    @font-face {
        font-family: "Barlow-Regular";
        src: url("../../public/font/Barlow-Regular.ttf");
    }

    @font-face {
        font-family: "AnonymousPro-Bold";
        src: url("../../public/font/AnonymousPro-Bold.ttf");
    }

    /* Spacing */

    .horizontal-space {
        @apply px-6 md:px-16 lg:px-32
    }

    .vertical-space {
        @apply py-6 md:py-10 lg:py-16
    }

    .row-gap {
        @apply gap-y-8 md:gap-y-12 lg:gap-y-16
    }

    .column-gap {
        @apply md:gap-x-8 lg:gap-x-14
    }

    /* Text */

    .heading1 {
        @apply text-4xl lg:text-6xl font-barlow-extrabold text-dominant
    }

    .heading2 {
        @apply text-4xl font-barlow-bold text-dominant tracking-tight
    }

    .heading3 {
        @apply text-2xl font-barlow-bold text-dominant tracking-tight leading-snug
    }

    .heading4 {
        @apply text-lg font-barlow-semibold text-dominant
    }

    .sub-heading {
        @apply text-lg font-barlow-semibold text-primary uppercase tracking-wide
    }

    .content {
        @apply text-base lg:text-lg font-barlow-medium text-compliment tracking-wide
    }

}